{% extends 'base.html' %}
{% block title %}Detail Transaksi{% endblock %}
                    <tr>
                        <th colspan="2" class="text-right">Subtotal:</th>
                        <th colspan="2">Rp {{ "{:,}".format((transaction.total or 0) + (transaction.discount or 0)) }}</th>
                    </tr>
                    {% if transaction.discount and transaction.discount > 0 %}
                    <tr>
                        <th colspan="2" class="text-right">Diskon{% if transaction.discount_name %} ({{ transaction.discount_name }}){% endif %}:</th>
                        <th colspan="2">- Rp {{ "{:,}".format(transaction.discount) }}</th>
                    </tr>
                    {% endif %}
                    <tr>
                        <th colspan="2" class="text-right">Total Setelah Diskon:</th>
                        <th colspan="2">Rp {{ "{:,}".format(transaction.total or 0) }}</th>
                    </tr>
            <div class="detail-grid">
                <div class="detail-left">
                    <label>No. Invoice</label>
                    <div>{{ transaction.invoice_code }}</div>
                </div>
                <div class="detail-right">
                    <label>Tanggal</label>
                    <div>{{ transaction.created_at.strftime('%d/%m/%Y %H:%M') }}</div>
                </div>

                <div class="detail-left">
                    <label>Pelanggan</label>
                    <div>{{ transaction.customer_name }}</div>
                </div>
                <div class="detail-right">
                    <label>No. HP</label>
                    <div>{{ transaction.customer.phone or '-' }}</div>
                </div>

                <div class="detail-left">
                    <label>Kapster</label>
                    <div>{{ transaction.barber_name }}</div>
                </div>
                <div class="detail-right">
                    <label>Pembayaran</label>
                    <div>{{ transaction.payment_type|upper }}</div>
                </div>

                <div class="detail-left">
                    <label>Subtotal</label>
                    <div>Rp {{ "{:,}".format((transaction.total or 0) + (transaction.discount or 0)) }}</div>
                </div>
                <div class="detail-right">
                    <label>Diskon{% if transaction.discount_name %} ({{ transaction.discount_name }}){% endif %}</label>
                    <div>
                        Rp {{ "{:,}".format(transaction.discount or 0) }}
                        {% if transaction.discount_name %}<span style="color:#888; font-size:90%;">({{ transaction.discount_name }})</span>{% endif %}
                    </div>
                </div>
                <div class="detail-left">
                    <label>Total Setelah Diskon</label>
                    <div>Rp {{ "{:,}".format(transaction.total or 0) }}</div>
                </div>
                {% if transaction.payment_type == 'cash' %}
                <div class="detail-right">
                    <label>Uang Diterima</label>
                    <div>Rp {{ "{:,}".format(transaction.cash_given) }}</div>
                </div>

                <div class="detail-left">
                    <label>Kembalian</label>
                    <div>Rp {{ "{:,}".format(transaction.change_amount) }}</div>
                </div>
                {% endif %}
            </div>

            <h3>Detail Layanan</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Layanan</th>
                        <th>Harga</th>
                        <th>Jumlah</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in transaction.items %}
                    <tr>
                        <td data-label="Layanan">{{ item.service.name }}</td>
                        <td data-label="Harga">Rp {{ "{:,}".format(item.price_each) }}</td>
                        <td data-label="Jumlah">{{ item.qty }}</td>
                        <td data-label="Total">Rp {{ "{:,}".format(item.line_total) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2" class="text-right">Subtotal:</th>
                        <th colspan="2">Rp {{ "{:,}".format((transaction.total or 0) + (transaction.discount or 0)) }}</th>
                    </tr>
                    {% if transaction.discount and transaction.discount > 0 %}
                    <tr>
                        <th colspan="2" class="text-right">Diskon{% if transaction.discount_name %} ({{ transaction.discount_name }}){% endif %}:</th>
                        <th colspan="2">- Rp {{ "{:,}".format(transaction.discount) }}</th>
                    </tr>
                    {% endif %}
                    <tr>
                        <th colspan="2" class="text-right">Total:</th>
                        <th colspan="2">Rp {{ "{:,}".format(transaction.total or 0) }}</th>
                    </tr>
                </tfoot>
            </table>

            <div style="text-align: right; margin-top: 20px;">
                <a href="{{ url_for('sales.receipt_pdf', tx_id=transaction.id) }}" target="_blank" class="btn btn-primary">
                    Download Nota PDF
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}